.quiz-container {
    height: 100vh;
    background-color: rgba(13, 110, 253, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20%;
    gap: 8px;
}

.answer:hover {
    cursor: pointer;
    background-color: rgba(13, 110, 253, 0.05);
}

.answer-word {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.answer-word-selected {
    background-color: rgba(0, 0, 0, 0.4);
}
